<!DOCTYPE html>
<!-- /ht Paul Irish - http://front.ie/j5OMXi -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Enrico Rossomando <redsend@gmail.com>">

<!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--  
<link rel="shortcut icon" href="/link/to/favicon.ico">
<link rel="apple-touch-icon" href="/link/to/apple-touch-icon.png">
-->

<!-- /ht Jeremy Keith - http://front.ie/mLXiaS -->
<link rel="stylesheet" href="/assets/css/global.css" media="all">
<!-- 30em + (1.618em * 2) = 33.236em / Eliminates potential of horizontal scrolling in most cases -->

<!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" href="css/layout.css" media="all">
<![endif]-->

<script src="/assets/js/modernizr-1.7.min.js"></script>
  
</head>

<body>
  
  <div id="container" class="cf">
    
    <header>
        <h1>{{ page.title }} <span>{{ page.tagline }}</span></h1>
    </header>
    
    <div id="main" role="main">
        {{ content }}
    </div>
    
    <footer class="cf">
        <p><a href='http://about.me/enrico.rossomando'><img src="/assets/img/enrico-rossomando-redsend-mrredsend-150px.png" alt="Enrico Rossomando" id="footer-logo" width="150" height="150" /></a></p> 
        <p>Mangatar developer, Web developer <b>(jQuery rulez :)</b>, FrontEnd <b>(JS power)</b>, BackEnd developer <b>(PHP)</b>, iOs Developer... Do you understand? <b>I'm a developer :D</b></p>
        <p>You can find me on <b><a href="https://www.facebook.com/enrico.rossomando" title="Enrico Rossomando on Facebook">Facebook</a></b> or Twitter with <b><a href="https://twitter.com/mrredsend" title="Enrico Rossomando on Twitter">@mrredsend</a></b> or you can contact me by email at <b><a href="mailto:redsend@gmail.com" title="Enrico Rossomando">redsend@gmail.com</a></b></p> 
    </footer>
    
  </div>

</body>

</html>
